.ps-form-group {
    padding-top: 5px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px !important;
}

.title-label {
    background-color: #f4f3f8;
    text-align: right !important;
}

.value-label {
    line-height: 3.0;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #f4f5f8;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #f4f5f8;
    }

    .table tbody + tbody {
        border-top: 2px solid #f4f5f8;
    }

    .table .table {
        background-color: #fff;
    }

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #f4f5f8;
}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #f4f5f8;
    }

    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px;
    }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f4f5f8;
}

.table-hover tbody tr:hover {
    background-color: #f7f8fa;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #d0d4f5;
}

.table-hover .table-primary:hover {
    background-color: #bbc1f1;
}

    .table-hover .table-primary:hover > td,
    .table-hover .table-primary:hover > th {
        background-color: #bbc1f1;
    }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: #f9fafb;
}

.table-hover .table-secondary:hover {
    background-color: #eaedf1;
}

    .table-hover .table-secondary:hover > td,
    .table-hover .table-secondary:hover > th {
        background-color: #eaedf1;
    }

.table-success,
.table-success > th,
.table-success > td {
    background-color: #c6ede5;
}

.table-hover .table-success:hover {
    background-color: #b3e7dc;
}

    .table-hover .table-success:hover > td,
    .table-hover .table-success:hover > th {
        background-color: #b3e7dc;
    }

.table-info,
.table-info > th,
.table-info > td {
    background-color: #c7e5fd;
}

.table-hover .table-info:hover {
    background-color: #aedafc;
}

    .table-hover .table-info:hover > td,
    .table-hover .table-info:hover > th {
        background-color: #aedafc;
    }

.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: #ffebc1;
}

.table-hover .table-warning:hover {
    background-color: #ffe3a8;
}

    .table-hover .table-warning:hover > td,
    .table-hover .table-warning:hover > th {
        background-color: #ffe3a8;
    }

.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: #fcced6;
}

.table-hover .table-danger:hover {
    background-color: #fbb6c2;
}

    .table-hover .table-danger:hover > td,
    .table-hover .table-danger:hover > th {
        background-color: #fbb6c2;
    }

.table-light,
.table-light > th,
.table-light > td {
    background-color: #fdfdfe;
}

.table-hover .table-light:hover {
    background-color: #ececf6;
}

    .table-hover .table-light:hover > td,
    .table-hover .table-light:hover > th {
        background-color: #ececf6;
    }

.table-dark,
.table-dark > th,
.table-dark > td {
    background-color: #c6c8ca;
}

.table-hover .table-dark:hover {
    background-color: #b9bbbe;
}

    .table-hover .table-dark:hover > td,
    .table-hover .table-dark:hover > th {
        background-color: #b9bbbe;
    }

.table-active,
.table-active > th,
.table-active > td {
    background-color: #5867dd;
}

.table-hover .table-active:hover {
    background-color: #4354d9;
}

    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
        background-color: #4354d9;
    }

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table .thead-light th {
    color: #575962;
    background-color: #ebedf2;
    border-color: #f4f5f8;
}

.table-dark {
    color: #fff;
    background-color: #212529;
}

    .table-dark th,
    .table-dark td,
    .table-dark thead th {
        border-color: #32383e;
    }

    .table-dark.table-bordered {
        border: 0;
    }

    .table-dark.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .table-dark.table-hover tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.075);
    }

.image {
    max-width: 150px;
    max-height: 150px;
}

.profile-image {
    width: 150px !important;
    height: 150px !important;
}

.loading-ktdataTable {
    position: relative;
    width: 132px;
    left: 550px;
}

.wt-input-required {
    border-left: solid 2px #f4516c !important
}

.input-image {
    width: 150px !important;
    height: 150px !important;
}