@model BreadcrumbViewModel
<h5 class="text-dark font-weight-bold my-2 mr-5">@Model.MainTitle</h5>
<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
    @{
        var segments = Context.Request.Path.Value.Split('/').Where(x => !string.IsNullOrEmpty(x)).ToList();
        foreach (var segment in segments)
        {
            if (segment == "Index")
            {
                continue;
            }
            string oriSegment = segment;
            string formattedSegment = System.Text.RegularExpressions.Regex.Replace(oriSegment, "(\\B[A-Z])", " $1");

            <li class="breadcrumb-item">
                <a class="text-muted">@formattedSegment</a>
            </li>
        }
    }
</ul>