@using JS.AMSWeb.Areas.AssetModule.ViewModels.AssetInfo;
@using JS.AMSWeb.Areas.AssetModule.ViewModels.AssetLocationHistory;
@using X.PagedList.Mvc.Core
@model AssetLocationHistoryPageViewModel

@{
    ViewData["Title"] = "AssetLocationHistory List";
}

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">

    <div class="d-flex flex-column flex-column-fluid">

        <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-0">

                <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">

                    <div class="page-title d-flex flex-column justify-content-center me-3">

                        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Asset LocationHistory Listing</h1>

                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">

                            <li class="breadcrumb-item text-muted">
                                <a href="../../demo23/dist/index.html" class="text-muted text-hover-primary">Home</a>
                            </li>

                            <li class="breadcrumb-item">
                                <span class="bullet bg-gray-400 w-5px h-2px"></span>
                            </li>

                            <li class="breadcrumb-item text-muted">Asset Location History</li>

                            <li class="breadcrumb-item">
                                <span class="bullet bg-gray-400 w-5px h-2px"></span>
                            </li>

                            <li class="breadcrumb-item text-muted">Listing</li>

                        </ul>

                    </div>

                    <div class="d-flex align-items-center gap-2 gap-lg-3">

                        <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_new_ticket" class="btn btn-primary fw-bold fs-8 fs-lg-base">Add New Asset Info</a>

                    </div>

                </div>

            </div>

            <div id="kt_app_content_container" class="app-container container-xxl">

                <div class="card">

                    <div class="card-header border-0 pt-6">

                        <div class="card-title">

                            <div class="d-flex align-items-center position-relative my-1">
                                <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
                                <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Search Location ID">

                            </div>

                        </div>
                    </div>

                    <div class="card-body pt-0">

                        <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="table-responsive">
                                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_customers_table">
                                    <thead>
                                        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                            <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="AssetInfoId">AssetInfo Id</th>
                                            <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="LocationTag Id">LocationTag Id</th>
                                            <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="AssignedDate">Assigned Date</th>
                                            <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="ReturnedDate">Returned Date</th>
                                            <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="AssignedByStaffId"> AssignedByStaff Id</th>
                                            <th class="text-end min-w-70px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 102.640625px;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-semibold text-gray-600">
                                        @if (Model != null)
                                        {
                                            @foreach (var item in Model.Listing)
                                            {
                                                <tr role="row" class="odd">
                                                    <td>@item.AssetInfoId</td>
                                                    <td></td>
                                                    <td>@item.AssignedDate</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div id="kt_app_footer" class="app-footer">

        <div class="app-container container-xxl d-flex flex-column flex-md-row flex-center flex-md-stack py-3">

            <div class="text-dark order-2 order-md-1">
                <span class="text-muted fw-semibold me-1">2023©</span>
                <a href="https://www.jomsystem.com" target="_blank" class="text-gray-800 text-hover-primary">JOM SYSTEM POS SYSTEM</a>
            </div>

        </div>

    </div>


</div>