@page
@using JS.AMSWeb.Areas.Identity.Pages.Account;
@model ForgotPasswordConfirmationModel
@{
}


<main class="page-wrapper">
    <div class="container mt-5 mb-md-4 py-5">
        <h3>Forgot Password Confirmation</h3>
        <p>
            The link has been sent, please check your email to reset your password.
        </p>

    </div>

</main>